<mat-toolbar>
  <span>Social Base Application</span>
  <span class="spacer"></span>
  <div class="menu-position">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" >
      <button mat-menu-item routerLink="/filter">
        <!-- <a > -->
          <mat-icon>input</mat-icon>
          <span>Filter Repositories</span>
        <!-- </a> -->
      </button>
      <button mat-menu-item (click)="onBack()">
        <mat-icon>backspace</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>