.search-section {
  margin-top: 2%;
  margin-left: 16%;
  font-size: 1.3rem;
}

.search-full-width {
  width: 50%;
  text-align: center;
  margin-right: 4%;
}

.empty-search {
  padding: 2%;
  color: darkgray;
  text-align: center;
}

.input-filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.input-table-search {
  width: 50%;
  font-size: 12px;
  text-align: center;
  margin-left: 25%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}