<app-header></app-header>
<!-- <div class="search-section">
  <mat-form-field class="example-form-field" class="form-field">
    <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value"/>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div> -->
<div *ngIf="user">
  <!-- <h1>{{user.login}}</h1> -->
  <mat-card class="profile-card">
    <mat-card-header class="profile-header">
      <img mat-card-avatar class="profile-header-avatar" src="{{user.avatar_url}}" alt="Photo of user profile">
      <mat-card-title class="title">{{user.name}}</mat-card-title>
      <mat-card-subtitle>Country: {{ user.location || 'Not Field by User'}}</mat-card-subtitle>
      <mat-card-subtitle>Email:  {{user.email || 'Not Field by User'}}</mat-card-subtitle>
      <mat-card-subtitle>Followers:  {{user.followers || 'There is not Followres'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="card-container mat-elevation-z8">
        <div class="input-filter">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Repository">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource">
            <!-- Repository Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Repository Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> <h4> <a href="{{element.html_url}}" target="_blank"> {{element.name}} </a></h4></mat-cell>
          </ng-container>
            <!-- Language Column -->
          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.language}} </mat-cell>
          </ng-container>
            <!-- Forks Column -->
          <ng-container matColumnDef="forks">
            <mat-header-cell *matHeaderCellDef> Total Forks/Stars </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.forks}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="8"[pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </mat-card-content>
 </mat-card>
</div>