.search-section {
  margin-top: 2%;
  margin-left: 25%;
  width: 48%;
}

.form-field {
  font-size: 20px !important;
  text-align: center;
}

/* mobile style */
@media (max-width: 600px) {
  .profile-card {
    margin-left: 1% !important;
    width: 90% !important; 
  }
  
  .profile-header .title {
    font-size: 14px !important;
  }
}

.profile-card {
  margin-top: 2%;
}

.profile-header {
  font-size: 20px;
  margin-bottom: 2%;
}

.profile-header .title {
  font-size: 18px;
  color: rgb(62, 62, 62);
  font-weight: 550;
}

.profile-header-avatar {
  width: 75px;
  height: 75px;
}

/* Structure table*/
.card-container {
  display: flex;
  flex-direction: column;
}

.card-content {
  margin-left: -16px;
  margin-right: -16px;
}

.mat-form-field {
  font-size: 16px;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
